<div class="jumbotron">
  <img src="/assets/images/burger.jpg" alt="burger">
  <h1>EAT! THAT! BURGER!</h1>
  <h2>Add a Burger</h2>
  <form class="create-form">
    <label for="ca">Burger Name:</label>
    <input class="form-control form-control-lg" type="text" id="burger-input" name="burger-name" placeholder="BURGER">
    <div class="form-group">
      <label for="eaten">Want to eat it?</label>
      <br>
      <input type="radio" name="devoured" value="1"> Devour it!
      <br>
      <input type="radio" name="uneaten" value="0"> Don't Eat It!
    </div>
    <button type="submit" class="btn btn-info">Add Burger</button>
    <h2>Enter the burger you want to eat. Click the submit button when finished.</h2>
</form>
<h2>Not Eaten</h2>

<ul>
  {{#each burgers}} {{#unless devoured}}
  <button class="change-devour , btn btn-danger" data-id="{{id}}" data-newDevour="{{devoured}}">{{this.burger_name}}</button>{{/unless}} {{/each}}
</ul>

<h2>Eaten</h2>

<ul>
  {{#each burgers}} {{#if devoured}}
  <button class="change-devour , btn btn-success" data-id="{{id}}" data-newDevour="{{devoured}}">{{this.burger_name}}</button>
  {{/if}} {{/each}}
</ul>


